.blob {
  box-shadow: 0 0 0 0 var(--mantine-primary-color-filled);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--mantine-primary-color-filled);
  }

  50% {
    box-shadow: 0 0 0 5px rgba(34, 139, 230, 0.2);
  }

  100% {
    box-shadow: 0 0 0 4px rgba(34, 139, 230, 0);
  }
}
